//namespace
$fmui_ns: 'fmui-' !default;

//font
$fmuiFontEN: -apple-system-font, "Helvetica Neue";
$fmuiFontCN: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
$fmuiFontSans: sans-serif;
$fmuiFontDefault:$fmuiFontCN,$fmuiFontSans;

$fmuiFontSizeDefault: 14px;